@page "/"
@namespace Explorer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Quantum Explorer</title>
    <base href="~/"/>
    <!-- External CSS -->
    <environment exclude="Development">
        <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="lib/css/bootstrap.css"/>
    </environment>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
    <!-- Our CSS -->
    <link href="css/theme.css" rel="stylesheet"/>
    <link href="css/progressbar.css" rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="css/split.css" rel="stylesheet"/>
    <link href="css/components.css" rel="stylesheet"/>
    <!-- Favicons -->
    @await Html.PartialAsync("_Favicons")
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="Server"/>
</app>

<div id="blazor-error-ui">
    <environment exclude="Development">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">x</a>
</div>

<!-- External JS -->
<environment include="Development">
    <script src="~/lib/js/jquery-3.5.1.js"></script>
    <script src="~/lib/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/js/jquery-3.5.1.min.js"></script>
    <script src="~/lib/js/bootstrap.bundle.min.js"></script>
</environment>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

<!-- Our JS -->
<script src="js/library.bundle.js"></script>
<script src="_framework/blazor.server.js"></script>

</body>
</html>
