@page "/"
@using System.Text
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json
@using Compiler
@using Explorer.Utilities.ComponentTree
@using System.Diagnostics.CodeAnalysis
@using Microsoft.Quantum.QsCompiler.SyntaxTree
@inject IJSRuntime JsRuntime;
@inject ICompiler Compiler;
@inject ILogger<Index> Logger;

<div class="main">
    <div class="top-row px-4">
        <Toasts/>
        <img id="dark-mode-toggle" src="/images/icons/dark-mode.svg" onclick="Library.toggleTheme()" alt="">
        <LsStatus @ref="status"/>
        <button id="compile" @ref="compileButtonRef" class="btn btn-primary px-2" @onclick="OnCompile">Compile & Run</button>
    </div>
    <Progress @ref="progress"></Progress>
    <div class="content">
        <div id="splitPanes">
            @Components
        </div>
    </div>
</div>

@code {
#nullable disable

    private Panel<Editor> Editor;
    private Panel<Compositor> Compositor;
    private Panel<Visualizer> Visualizer;

    private LsStatus status;
    private Progress progress;
    private ElementReference compileButtonRef;

    private readonly StringBuilder output = new();

    RenderFragment Components => new PanelRenderer().Render(tree);

    readonly PanelTree tree = new(PanelTree.Alignment.Horizontal);

    // TODO: end-to-end tests
    // Until then, all methods in this class are excluded from code coverage
    [ExcludeFromCodeCoverage]
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Editor = tree.AddPanel<Editor>();

        PanelTree sidePanel = new(PanelTree.Alignment.Vertical);

        Compositor = sidePanel.AddPanel<Compositor>();
        Visualizer = sidePanel.AddPanel<Visualizer>();

        tree.AddPanel(sidePanel);

        Compiler.OnDiagnostics += diagnosticsHandler;
        Compiler.OnOutput += outputHandler;
        Compiler.OnCompilation += compilationHandler;
        Compiler.OnStatesRecorded += (_, states) => { Visualizer.Component.ShowStates(states); };
    }

    [ExcludeFromCodeCoverage]
    private async Task OnCompile()
    {
        await toggleCompilation(true);
        output.Clear();

        Visualizer.Component.SetPlaceholder("Compiling");

        string code = await Editor.Component.GetCode();

    // run compilation in a separate thread so that we don't block the UI
        Task task = new(() =>
        {
            Compiler.Compile(code, true).ContinueWith(
                async t =>
                {
                    await toggleCompilation(false);
                    string messages = string.Join('\n', t.Exception!.InnerExceptions.Select(x => x.Message));
                    Visualizer.Component.SetOutput($"Simulation errors occured:\n\n{messages}");
                },
                TaskContinuationOptions.OnlyOnFaulted);
        }, TaskCreationOptions.LongRunning);

        task.Start();
    }

    [ExcludeFromCodeCoverage]
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        string serializedTree = JsonConvert.SerializeObject(tree, new JsonSerializerSettings
        {
            TypeNameHandling = TypeNameHandling.Auto,
        });

        await JsRuntime.InvokeVoidAsync("Library.InitializeSplitPanes", serializedTree);
        await Editor.Component.SetStatusReference(status);
    }

    #region Compilation event handlers

    [ExcludeFromCodeCoverage]
    private void compilationHandler(object _, QsCompilation compilation)
    {
        if (output.Length == 0) // no diagnostics
        {
            Visualizer.Component.SetPlaceholder("Executing");
        }
    }

    [ExcludeFromCodeCoverage]
    private async void diagnosticsHandler(object _, string val)
    {
        await toggleCompilation(false);
        output.AppendLine(val);
        Visualizer.Component.SetOutput(output.ToString());
    }

    [ExcludeFromCodeCoverage]
    private async void outputHandler(object _, string stdout)
    {
        await toggleCompilation(false);

        if (output.Length != 0)
        {
            output.AppendLine();
        }

        output.AppendLine(string.IsNullOrEmpty(stdout) ? "No messages" : stdout);

        Visualizer.Component.SetOutput(output.ToString());
    }

    #endregion

    private async Task toggleCompilation(bool running)
    {
        progress.Running = running;
        await JsRuntime.InvokeVoidAsync(running ? "Library.disable" : "Library.enable", compileButtonRef);
    }

}
