@page "/"
@using Explorer.Utilities.ComponentTree
@using Newtonsoft.Json
@inject IJSRuntime JsRuntime;

<div id="splitPanes">
    @Components
</div>

@code {
    Editor editor;
    Visualizer visualizer;

    RenderFragment Components => new PanelRenderer().Render(tree);

    readonly PanelTree tree = new PanelTree(PanelTree.Alignment.Horizontal);

    protected override void OnInitialized()
    {
        base.OnInitialized();
        tree.AddPanel<Editor>();

        var sidePanel = new PanelTree(PanelTree.Alignment.Vertical);
        sidePanel.AddPanel<Compositor>();
        sidePanel.AddPanel<Visualizer>();

        tree.AddPanel(sidePanel);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            string serializedTree = JsonConvert.SerializeObject(tree, new JsonSerializerSettings
            {
                TypeNameHandling = TypeNameHandling.Auto
            });
            JsRuntime.InvokeVoidAsync("Library.InitializeSplitPanes", serializedTree);

var compiler = new Compiler();
            string path = Path.Combine(Environment.CurrentDirectory, "../Compiler/TestFile.qs");
            await compiler.Compile(path);

            editor.Code = compiler.GetCode();
        }
    }

}
