@page "/"
@using Compiler
@using Explorer.Utilities.ComponentTree
@using Newtonsoft.Json
@using AstTransformations
@using System.Text
@using System.Diagnostics.CodeAnalysis
@inject IJSRuntime JsRuntime;
@inject ICompiler Compiler;

<div class="main">
    <div class="top-row px-4">
        <button id="compile" class="btn btn-primary" @onclick="OnCompile">Analyze circuits</button>
    </div>

    <div class="content px-4">
        <div id="splitPanes">
            @Components
        </div>
    </div>
</div>

@code {
#nullable disable
    internal Panel<Editor> Editor;
    internal Panel<Editor> OutputEditor;
    internal Panel<DiagnosticList> Diagnostics;

    RenderFragment Components => new PanelRenderer().Render(tree);

    readonly PanelTree tree = new PanelTree(PanelTree.Alignment.Horizontal);

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Editor = tree.AddPanel<Editor>();

        var sidePanel = new PanelTree(PanelTree.Alignment.Vertical);

        OutputEditor = sidePanel.AddPanel<Editor>();
        Diagnostics = sidePanel.AddPanel<DiagnosticList>();

        tree.AddPanel(sidePanel);
    }

    [ExcludeFromCodeCoverage] // TODO: Integration tests
    private async Task OnCompile()
    {
        await Compiler.Compile(Editor.Component.Code);

        Diagnostics.Component.Diagnostics = Compiler.Diagnostics;
        Dictionary<string, GateGrid> ast = FromQSharp.GetGates(Compiler.Compilation);

        var builder = new StringBuilder("Defined operations:" + Environment.NewLine);
        foreach ((string key, GateGrid? grid) in ast)
        {
            builder.AppendLine(key);
            builder.AppendLine(grid?.ToString() ?? "Couldn't extract circuit info");
        }
        OutputEditor.Component.Code = builder.ToString();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        await InitializePanels();
        OutputEditor.Component.Code = "The AST information is going to show up here.";
    }

    private async Task InitializePanels()
    {
        string serializedTree = JsonConvert.SerializeObject(tree, new JsonSerializerSettings
        {
            TypeNameHandling = TypeNameHandling.Auto,
        });
        await JsRuntime.InvokeVoidAsync("Library.InitializeSplitPanes", serializedTree);
    }

}
