@page "/"
@using Explorer.Utilities.ComponentTree
@inject IJSRuntime JsRuntime;

<div id="splitPanes">
    @Components
</div>

@code {

    RenderFragment Components => new PanelRenderer().Render(tree);

    readonly PanelTree tree = new PanelTree(PanelTree.Orientation.Horizontal);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        tree.AddPanel(new Editor());

        var doublePanel = new PanelTree(PanelTree.Orientation.Vertical);
        doublePanel.AddPanel(new Editor());
        doublePanel.AddPanel(new Compositor());

        tree.AddPanel(doublePanel);

        var triplePanel = new PanelTree(PanelTree.Orientation.Vertical);
        triplePanel.AddPanel(new Editor());
        triplePanel.AddPanel(new Compositor());
        triplePanel.AddPanel(new Visualizer());

        tree.AddPanel(triplePanel);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsRuntime.InvokeVoidAsync("Library.InitializeSplitPanes", tree);
        }
    }

}
