@using Compiler

<div class="grid-cell">
    @if (QuantumGate != null)
    {
        <Gate Name="@(QuantumGate.Name)" CellSnapPointId="@(CellSnapPointId)" Associate="Associate" @ref="gate" />
    }
</div>

@code {

    [Parameter]
    public QuantumGate QuantumGate { get; set; } = null!;

    [Parameter]
    public Func<string, string, bool> Associate { get; set; } = null!;

    [Parameter]
    public string CellSnapPointId { get; set; } = null!;

    private Gate? gate;
}
