@using Compiler
@inject IJSRuntime JsRuntime

<div class="overflow-hidden">
    @if (gateGrid != null)
    {
        <Grid GateGrid="@(gateGrid)"/>
    }
</div>

@code {
    private GateGrid gateGrid = new GateGrid();

    public async Task UpdateGridsAsync(Dictionary<string, GateGrid> ast)
    {
        // force the underlying Gate component to render from scratch
        gateGrid = new GateGrid();
        await InvokeAsync(StateHasChanged);

        gateGrid = ast.Last().Value; //GateGridToArray(ast.First().Value);
        await InvokeAsync(StateHasChanged);
    }
}
