<div class="gate-menu dropdown-menu" style="left: @(Left)px;">
    <a class="dropdown-item" @onclick="@(_ => OnClick(false))">Exit menu</a>
    <hr class="dropdown-divider">
    <a class="dropdown-item" @onclick="@(_ => OnClick(true))">Delete gate</a>
</div>

@code {
    [Parameter]
    public int Left { get; set; } = 0;

    [Parameter]
    public Action<bool> ExitMenu { get; set; } = null!;

    private void OnClick(bool deleteGate) => ExitMenu?.Invoke(deleteGate);
}
