@using Common

<div id="@Id" class="gate @BorderStr">
    @switch (@Name)
    {
        case "MResetZ":
            <GateMeasurement/>
            break;
        case "ResetAll":
            <GateMeasurement/>
            break;
        case "X":
            <GateX/>
            break;
        case "__control__":
            <GateControl/>
            break;
        default:
            <span class="gate-name">@Name</span>
            break;
    }
</div>

@code {

    [Parameter]
    public string Name { get; set; } = null!;

    [Parameter]
    public bool Border { get; set; } = true;

    protected override void OnParametersSet()
    {
        switch (Name)
        {
            case "X":
                Border = false;
                break;
            case "__control__":
                Border = false;
                break;
                // if CNOT/CCNOT, draw the line to the controlled gate
            default:
                break;
        }
    }

    public string Id { get; } = UniqueId.CreateUniqueId();

    private string BorderStr => Border ? "gate-border" : "";
}
