@using Common

<div id="@Id" class="gate @BorderStr">
    @switch (Name)
    {
        case "MResetZ":
        case "ResetAll":
        case "M":
            <GateMeasurement/>
            break;
        case "X":
            <GateX/>
            break;
        case "__control__":
            <GateControl/>
            break;
        default:
            <span class="gate-name">@TruncatedName</span>
            break;
    }
</div>

@code {

    private bool Border => Name switch
    {
        "X"           => false,
        "__control__" => false,
        var _         => true,
    };

    [Parameter]
    public string Name { get; set; } = null!;

    public string Id { get; } = UniqueId.CreateUniqueId();

    private string BorderStr => Border ? "gate-border" : "";

    private string TruncatedName => Name.Substring(0, Math.Min(Name.Length, 3));

}
