@using Common
@using System.IO

<div id="@Id" class="gate">
    @switch (CheckIconPath())
    {
        case true:
            <img src="@(IconPath)">
            break;
        case false:
            <span class="gate-name">@Name</span>
            break;
    }
</div>

@code {

    [Parameter]
    public string Name { get; set; } = "";

    public string Id { get; } = UniqueId.CreateUniqueId();

    public string IconPath
    {
        get => $"images/icons/{Name}.svg";
    }

    /// <summary>
    /// Checks if the proper icon exists
    /// </summary>
    /// <returns></returns>
    public bool CheckIconPath()
    {
        return File.Exists($"wwwroot/{IconPath}");
    }
}
