@using Common
@using System.IO
@using Microsoft.AspNetCore.Hosting

<div id="@Id" class="gate">
    @if (CheckIconPath())
    {
        <img src="@(IconPath)" alt="@(Name)">
    }
    else
    {
        <span class="gate-name">@Name</span>
    }
</div>

@code {

    public string Name { get; }

    public string Id { get; } = UniqueId.CreateUniqueId();

    private IWebHostEnvironment Environment { get; }

    private string IconPath => $"images/icons/{Name}.svg";

    public Gate(IWebHostEnvironment env, string name)
    {
        Environment = env;
        Name = name;
    }

    /// Checks if the proper icon exists
    private bool CheckIconPath()
    {
        var iconPath = Path.Combine(Environment.WebRootPath, IconPath);
        return File.Exists(iconPath);
    }
}
