@using Common
@using System
@using System.Web
@using System.IO
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Hosting

<div id="@Id" class="gate">
    @if (CheckIconPath())
    {
        <img src="@(IconPath)">
    }
    else
    {
        <span class="gate-name">@Name</span>
    }
</div>

@code {

    //ElementReference htmlButton;
    //RadzenButton radzenButton;

    //void ShowTooltip(ElementReference elementReference, TooltipOptions options = null) => tooltipService.Open(elementReference, "Some content", options);

    private IWebHostEnvironment Environment { get; set; }

    public Gate(IWebHostEnvironment env)
    {
        Environment = env;
    }

    [Parameter]
    public string Name { get; set; } = "";

    public string Id { get; } = UniqueId.CreateUniqueId();

    public string IconPath
    {
        get => $"images/icons/{Name}.svg";
    }

    /// <summary>
    /// Checks if the proper icon exists
    /// </summary>
    /// <returns></returns>
    public bool CheckIconPath()
    {
        var iconPath = Path.Combine(Environment.WebRootPath, IconPath);
        return File.Exists(iconPath);
    }
}
