<div class="row-id">
    @DisplayedName
</div>

@code {
    private string _name = "";

    [Parameter]
    public string Name
    { 
        get => _name;
        set => _name = value ?? "";
    }

    private string DisplayedName => (Name.Length > 8) ? $"{Name.Substring(0, 6)}.." : Name;
}
