<div class="row-id">
    @DisplayedName
</div>

@code {
    [Parameter]
    public string Name { get; set; } = null!;

    private string DisplayedName => Name == null ? "" : Name.Length > 8 ? $"{Name.Substring(0, 6)}.." : Name;
}
