@using Common

<div id="@Id" class="grid-snap" style="left: @XOffset"></div>

@code {

    [Parameter]
    public string XOffset { get; set; } = "0px"; // default value

    public string Id { get; } = UniqueId.CreateUniqueId();

}
