@using Common

<div id="@Id" class="grid-snap @HalfClass" style="left: @XOffset"></div>

@code {

    public SnapPoint(int x, int y, bool half = false)
    {
        X = x;
        Y = y;
        Half = half;
    }

    public bool Half { get; }

    public int X { get;}

    public int Y { get; }

    public string Id { get; } = UniqueId.CreateUniqueId();

    private int XCoord => Half ? X * 40 + 20 : X * 40;

    private string XOffset => $"{XCoord}px";

    private string HalfClass => Half ? "half" : "";
}
