@using Common

<div id="@Id" class="grid-snap" style="left: @xOffset"></div>

@code {

    [Parameter]
    public string xOffset { get; set; }

    public string Id { get; } = UniqueId.CreateUniqueId();

}
