<div class="compositor">
    <div class="node">
        <span class="bg-primary">1</span>
        <div class="node column">
            <span class="bg-secondary">2.1</span>
            <span class="bg-secondary">2</span>
        </div>
        <span class="bg-primary">3</span>
        <span class="bg-primary">4</span>
        <div class="node column">
            <span class="bg-secondary">5.1</span>
            <span class="bg-secondary">5.2</span>
            <div class="node">
                <span class="bg-primary">5.3.1</span>
                <span class="bg-primary">5.3.2</span>
                <span class="bg-primary">5.3.3</span>
            </div>
            <span class="bg-secondary">5.4</span>
        </div>
        <span class="bg-primary">6</span>
        <span class="bg-primary">7</span>
        <span class="bg-primary">8</span>
        <span class="bg-primary">9</span>
        <span class="bg-primary">10</span>
    </div>
</div>
