@inherits Resizable

<div id="compositor">
    <p>This is where the compositor is meant to reside.</p>
</div>

<style>
    #compositor {
        width: 100%;
        height: 100%;
        text-align: center;
    }
</style>
