@inject IJSRuntime JsRuntime
@using Compiler

<div class="overflow-hidden">
    @if(grid != null)
    {
        <Grid grid="@(grid)"/>
    }
</div>

@code {
    QuantumGate?[,]? grid;

    private QuantumGate?[,] GateGridToArray(GateGrid grid)
    {
        var gates = new QuantumGate?[grid.Width, grid.Height];
        foreach((QuantumGate gate, int x, int y) in grid.Gates)
        {
            gates[x, y] = gate;
        }
        return gates;
    }

    public async Task Compose(Dictionary<string, GateGrid> ast)
    {
        grid = GateGridToArray(ast.First().Value);
        StateHasChanged();
        await JsRuntime.InvokeVoidAsync("Library.initGrid");
    }

}
