@inject IJSRuntime JsRuntime

<div class="overflow-hidden">
    <Grid/>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await JsRuntime.InvokeVoidAsync("Library.initGrid");
    }

}
