@inject IJSRuntime JsRuntime;

<button class="bar-btn" @onclick="OnClicked">Download</button>

@code {
    [Parameter]
    public Func<Task<string>>? GetCode { get; set; }

    private string fileNamePrefix = "QuantumEditor";

    private async Task OnClicked()
    {
        if (GetCode == null) return;
        string code = await GetCode.Invoke();

        await JsRuntime.InvokeVoidAsync("Library.saveTextFile", fileNamePrefix + "_" + DateTime.Now.ToString("dd_M_yyyy") + ".qs", code);
    }
}
