@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment Env

<div id="editor" @ref="editorRootRef"></div>

@code {
    private ElementReference editorRootRef;

    private string? editorId;

    /// <summary>Asynchronously gets code stored in Editor component.</summary>
    /// <returns>An awaitable <see cref="Task"/> returning <see cref="string"/>.</returns>
    public async Task<string> GetCode()
        => await JSRuntime.InvokeAsync<string>("Library.Editor.GetCode", editorId).AsTask();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            bool isDevelopment = Env.IsDevelopment();
            string lsHost = Environment.GetEnvironmentVariable("LS_HOST") ?? "localhost:8091";
            editorId = await JSRuntime.InvokeAsync<string>("Library.Editor.InitializeEditor", editorRootRef, lsHost, isDevelopment);
        }
    }

}
