@inject IJSRuntime JSRuntime
@*<textarea @bind="Code" class="editor-textarea"></textarea>*@
<div id="editorRoot" class="editor-textarea">

</div>
@code {

    private string code = "This is the Q# code editor for now.";

    public string Code
    {
        get => code;
        set
        {
            code = value;
            InvokeAsync(StateHasChanged);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitWebComponentAsync();
        }
    }

    private async Task InitWebComponentAsync()
    {
        await JSRuntime.InvokeVoidAsync("Library.InitializeEditor");
    }


}
