@inject IJSRuntime JSRuntime

<div id="editor" @ref="editorRootRef"></div>

@code {
    private ElementReference editorRootRef;

    private string? editorId;

    public async Task<string> GetCode()
        => await JSRuntime.InvokeAsync<string>("Library.Editor.GetCode", editorId).AsTask();

    // Will be used someday
    public async Task SetCode(string code)
    {
        if (editorId != null)
        {
            await JSRuntime.InvokeVoidAsync("Library.Editor.SetCode", editorId, code);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            editorId = await JSRuntime.InvokeAsync<string>("Library.Editor.InitializeEditor", editorRootRef);
        }
    }

    public async Task SetStatusReference(LsStatus target)
    {
        var objRef = DotNetObjectReference.Create(target);
        await JSRuntime.InvokeVoidAsync("Library.Editor.SetStatusReference", objRef);
    }

}
