@inject IJSRuntime JSRuntime

<div class="editor-textarea" @ref="editorRootRef">

</div>
@code {
    private ElementReference editorRootRef;

    private string editorId = "";

    public async Task<string> GetCode() 
        => await JSRuntime.InvokeAsync<string>("Library.Editor.GetCode", editorId).AsTask();

    public async Task SetCode(string code) 
        => await JSRuntime.InvokeVoidAsync("Library.Editor.SetCode", editorId, code);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            editorId = await JSRuntime.InvokeAsync<string>("Library.Editor.InitializeEditor", editorRootRef);
        }
    }

}
