<p id="output">@Value</p>

@code {

    private string value = "<Compile & run the program to see the output here>";

    public string Value
    {
        get => value;
        set
        {
            this.value = value;
            InvokeAsync(StateHasChanged);
        }
    }

}
