<div class="position-fixed" style="z-index: 9999; left: 0;">
    <div id="saved-toast" class="toast bg-success fade hide" data-delay="1500">
        <div class="toast-header bg-success text-white">
            Code saved successfully
        </div>
    </div>
    <div id="save-failed-toast" class="toast bg-success fade hide" data-delay="2500">
        <div class="toast-header bg-danger text-white">
            Failed to save code in local storage
        </div>
    </div>
</div>
