@inherits Resizable

<div id="visualizer">
    <p>This is where the visualizations are meant to reside.</p>
</div>

<style>
    #visualizer {
        width: 100%;
        height: 100%;
        text-align: center;
    }
</style>
