@page "/compositor"
@using Quantum_Server.Data;

<h1>QIL proof of concept</h1>

<input type="text" @bind="@Code"/>
<button @onclick="@Execute">Execute</button>

<p>Last output: @Message</p>

@code {
    string Message { get; set; } = "";
    string Code { get; set; } = "";

    private async Task Execute()
    {
        Message = await CodeRunner.RunCode(Code);
    }
}