@page "/"
@inject IJSRuntime JsRuntime;

<div id="splitPanes">
    <div id="left-pane" class="split split-horizontal">
        <Editor/>
    </div>
    <div id="right-pane" class="split split-horizontal">
        <div id="upper-pane" class="split split-content">
            <Compositor/>
        </div>
        <div id="lower-pane" class="split split-content">
            <Visualizer/>
        </div>
    </div>
</div>

@code {

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsRuntime.InvokeVoidAsync("Library.InitializeSplitPanes");
        }
    }

}
