@page "/quantum"
@using Quantum
@using Microsoft.Quantum.Simulation.Simulators

<h1>Quantum RNG</h1>

<p>Last generated number: @RandomNum</p>

<button class="btn btn-primary" @onclick="@RunQuantumRNG">Run RNG</button>

@code {
    public int RandomNum {get; set;}

    public async Task RunQuantumRNG() {
        using (var qsim = new QuantumSimulator())
        {
            RandomNum = (int) await Quantum.RandomInt.Run(qsim, 128);
        }
    }
}