#grid {
  height: auto;
  width: auto;
  padding: 2px;
  display: inline-block;
}

.grid-row {
  position: relative;
  width: auto;
  height: 40px;
  margin: 5px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid-snap {
  position: absolute;
  /*border: 1px dashed red;*/
  width: 40px;
  height: 40px;
  background: transparent;
}

.grid-cell {
  position: relative;
  display: block;
  border: 1px solid rgb(224, 224, 224);
  width: 40px;
  height: 40px;
  overflow: visible;
}

.gate {
  left: -1px;
  top: -1px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
  background: rgb(108, 147, 171);
  z-index: 99;
}

.gate-name {
  vertical-align: middle;
}
