:root {
  --background: #f2f2f2;
  --surface: white;
  --accent: #e9ecef;
  --text: #212529;
  --text-secondary: #808080;
  --error-background: lightyellow;
  --shadow: rgba(0, 0, 0, 0.2);
  /* re-exported from Bootstrap */
  --link: var(--primary);
  --valid: var(--green);
  --invalid: var(--red);
}

:root.dark-mode {
  --background: #121212;
  --surface: #1e1e1e;
  --accent: #333;
  --text: #e2e2e2;
  --error-background: var(--surface);
  --shadow: rgba(255, 255, 255, 0.2);
}
